@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Roboto", sans-serif;
}
.site-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header-list {
list-style: none;
display: flex;
gap: 32px;
}
.site-header-nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.site-nav {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.main-link {
  background-color: #ff7500;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: white;
}

.hero-section {
  background-color: #252420;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.hero-content {
  width: 390px;
  color: #fff;
}

.orange-line {
  background-color: #FF7500;
  width: 80px;
  height: 3px;
}

.hero-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  font-family: "Roboto condensed";
}

.hero-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.features-title {
  color: black;
  font-weight: 700;
  font-size: 72px;
  line-height: 86.4px;
  font-family: "Roboto";
}
.feature-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature {
  width: 340px;
}


.feature-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.5px;
  font-family: "Roboto condensed";
}

.feature-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5;
}

.sale-content {
  width: 440px;
  color: white;
}

.sale {
  background: #252420;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sale-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  font-family: "Roboto condensed";
}

.primary-text {
  color: #ff7500;
  font-size: 16px;
  font-weight: 700;
}

.sale-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5;
}

.site-footer {
background-color: #f8f8f8;
}
.footer-divided {
  height: 2px;
  background-color: #25242080;
}

.footer-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color:#252420;
  text-decoration: none;
}
.sale-img {
  width: 440;
  height: 440;
}
.list-none {
  list-style: none;
}







